header li{
	display: inline-block;
}
article#hero{
	background-color: white;
/*	background-image: url(background.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
}
article#hero h3{
	font-size: 200%;
}

/* ************************* N E O N ********************************** */
article#neonLights{
	font-family: 'Clicker Script', cursive;
	background-color: black;
	font-size: 300%;
	text-align: center;
	color: rgba(70, 70, 70, 0.6);
	font-weight: bolder;
	padding: 20px;
}
.neon0Off{
	margin: 20px;
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
	border: 5px solid rgba(70, 70, 70, 0.6);
}
.neon0On{
	margin: 20px;
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
	border: 5px solid #EEDDE0; 
	box-shadow: 
	0 0 5px #E6A1AD,
	0 0 10px #EC637B,
	0 0 15px #E6A1AD,
	0 0 20px #F36780,
	inset 0 0 5px #E6A1AD,
	inset 0 0 10px #EC637B,
	inset 0 0 15px #E6A1AD,
	inset 0 0 20px #F36780;
}
.neon1Off{
	transform: translate(0, 10%) skewY(175deg);
	padding: 0;
	margin: 0;
}
.neon1On{
	transform: translate(0, 10%) skewY(175deg);
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #EEDDE0;
	text-shadow: 
	0 0 5px #B7A1E6,
	0 0 10px #9063EC,
	0 0 15px #B7A1E6,
	0 0 20px #9467F3;
}
.neon2Off{
	transform: translate(0, -50%);
	padding: 0;
	margin: 0;
}
.neon2On{
	transform: translate(0, -50%);
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #EEDDE0;
	text-shadow: 
	0 0 5px #D0E6A1,
	0 0 10px #C0EC63,
	0 0 15px #D0E6A1,
	0 0 20px #C6F367;
}
.neon3Off{
	transform: translate(0, -50%) skewY(170deg);
	padding: 0;
	margin: 0;
}
.neon3On{
	transform: translate(0, -50%) skewY(170deg);
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #EEDDE0;
	text-shadow: 
	0 0 5px #A1E6DA,
	0 0 10px #63ECD4,
	0 0 15px #A1E6DA,
	0 0 20px #67F3DA;
}
/* ***************************** P O R T F O L I O ********************* */
article#Portfolio{
	text-align: center;
}
article#Portfolio section{
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: inline-block;
	margin: 2%;
	border: 2px solid black;
	border-radius: 10px;
}
article#Portfolio img{
	transition: transform 3s ease-in-out;
}
article#Portfolio section img#nista:hover{
	transform: translate3d(0px, -803px, 0px);
}
article#Portfolio section img#galerija:hover{
	transform: translate3d(0px, -260px, 0px);
}
article#Portfolio section img#salon:hover{
	transform: translate3d(0px, -504px, 0px);
}
article#Portfolio section img#health:hover{
	transform: translate3d(0px, -1060px, 0px);
}

